@import-normalize; /* bring in normalize.css styles */
@font-face {
  font-family: 'Manrope-Regular';
  src: url('../assets/fonts/Manrope-Regular.ttf') format('truetype');
  font-weight: 00;
  font-style: normal;
}
@font-face {
  font-family: 'Manrope-Medium';
  src: url('../assets/fonts/Manrope-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Manrope-SemiBold';
  src: url('../assets/fonts/Manrope-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Manrope-Bold';
  src: url('../assets/fonts/Manrope-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Manrope-ExtraBold';
  src: url('../assets/fonts/Manrope-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

body {
  max-width: 1600px;
  margin: 0 auto;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
